*{
  font-family: Verdana, sans-serif;
}
body{
  background-color: black;
  text-align: center;
}
h1{
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}
h2{
  font-weight: 300;
  font size: 42px;
  color: white;
}
p.statement{
  font-size: 21px;
  color: gray;
}
.footer p.statement{
  text-align: right;
}
a{
  color: Aquamarine;
  font-size: 16px;
}
.header a{
  align: center;
}
.video{
  align-content: center;
}
